@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: gold;
  
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #eeff00;
  --color-subtext: #FF8A71;
  --color-signUp: {
  --gradient-bg: radial-gradient(circle, rgba(0,0,0,1) 7%, rgba(15,54,184,1) 37%, rgba(0,114,255,1) 66%, rgba(0,0,0,1) 100%);

    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

  }
}